* {
    background-color: rgb(15 23 42);
    /* border: solid; */
    padding: 0;
    margin: 0;
}
h1, h2, h3 {
    color: rgb(226, 232, 240);
}
p {
    color: #94A3B8;
}
#myself {
    margin: 0.2rem;
    padding: 0.2rem;
}
#myself h1 {
    margin: 0.2rem;
    padding: 0.2rem;
    font-size: 3rem;
}
#myself h2 {
    margin: 0.2rem;
    padding: 0.2rem;
    font-size: 1rem;
}
#myself p {
    margin: 0.2rem;
    font-size: 1rem;
}
body > header {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}
aside {
    text-align: left;
    padding: 0.2rem;
}
aside p {
    margin: 0.2rem;
    padding: 0.2rem;
}
.light-white {
    color: #94A3B8;
}
strong, bold, .resume {
    color: #E2E8F0;
}
li header {
    color: #64748B;
}
nav {
    color: #94A3B8;
    display: flex;
    gap: 1rem;
    margin: 0.2rem;
    padding: 0.2rem;
}
.sr {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
.logo {
    width: 1.5rem;
    height: 1.5rem;
    fill: #94A3B8;
}
.logo:hover {
    fill: #E2E8F0;
}
.experience_list, .project_list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.experience_list > li, .project_list > li {
    margin: 1rem;
    padding: 1rem;
}
.skill li {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.experience_list li header, .project_list li header {
    margin: 0.2rem;
    padding: 0.2rem;
}
.experience_list li div h3, .project_list li div h3 {
    margin: 0.2rem;
    padding: 0.2rem;
}
.experience_list li div h3 em {
    display: inline;
}
.experience_list li div p, .project_list li div p {
    margin: 0.2rem;
    padding: 0.2rem;
}
#experience h2, #projects h2 {
    margin: 1rem;
    padding: 1rem;
    font-size: 2rem;
}
.skill {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
}
.skill li {
    color: rgb(94, 234, 212);
    padding: 0.25rem 0.75rem;
    background-color: rgba(45, 212, 191, 0.1);
    border-radius: 9999px;
    display: inline-flex;
    align-items: center;
    border: 0 solid #e5e7eb;
    font-family: sans-serif;
    font-size: 1rem;
}
.resume {
    margin: 0.2rem 2rem;
    padding: 0.4rem;
    border-radius: 5px;

}
img {
    border: solid;
    color: #64748B;
}
/* Phone */
@media (max-width: 480px) {
    * {
        /* background-color: blue; */
    }
    body > header {
        flex-direction: column;
    }
    #myself, aside {
        width: 100%;
    }
    img {
        width: 70vw;
        height: 70vh;
        object-fit: cover; 
    }  
}
/* Laptop */
@media (min-width: 481px) and (max-width: 1024px) {
    * {
        /* background-color: yellow; */
    }
    body > header {
        flex-direction: column;
    }
    #myself {
        width: 100%;
    }
    aside {
        width: 100%;
        margin: 0.2rem;
        padding: 0.2rem;
    }
    .experience_list > li, .project_list > li {
        display: flex;
        align-items: stretch;
    }
    .experience_list li header, .project_list li header {
        display: flex;
        width: 15vw;
    }
    .experience_list li div, .project_list li div{
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    .experience_list li div h3 em {
        display: block;
    }
    img {
        width: 60vw;
        height: 50vh;
        object-fit: contain; 
    }  
}
/* Destop */
@media (min-width: 1025px) {
    * {
        /* background-color: green; */
    }
    body > header {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        padding: 0.5rem;
        gap: 1rem;
    }
    #myself {
        width: 50%;
    }
    aside {
        width: 50%;
        margin: 1rem;
    }
    .experience_list > li, .project_list > li {
        display: flex;
        /* width: 100%; */
        align-items: stretch;
    }
    .experience_list li header, .project_list li header {
        display: flex;
        width: 15vw;
    }
    .experience_list li div, .project_list li div {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    img {
        width: 60vw;
        height: 50vh;
        object-fit: contain; 
    } 
}
